body {
  font-family: Arial;
  margin: 20px;
  background: #f4f4f4;
}

h1, h2 {
  margin-bottom: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.move {
  background: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

video {
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
}

select, input, button {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}
